---
import "../../tailwind.css"
import { Playground }  from "../../features/playground/components/playground"
---

<html class="h-full">
  <body class="h-full">
    <Playground client:only="react" />
  </body>
</html>
